//Fill in your details and update the file name from .env.example --> .env

MY_USERNAME=
MY_PASSWORD=
loginURL=https://login.salesforce.com/
orgURL=https://orgfarm-15f6472b64-dev-ed.develop.lightning.force.com/lightning/o/Account/list?filterName=__Recent
SPDevIntURL =https://bostonuniversity-b--spdevint.sandbox.my.salesforce-setup.com/lightning/
SPTestURL=https://bostonuniversity-b--sptest.sandbox.my.salesforce-setup.com/lightning/
UEPTestURL= https://bostonuniversity-b--ueptest.sandbox.my.salesforce-setup.com/lightning/
