MY_USERNAME=
MY_PASSWORD=
loginURL=
orgURL=https://bostonuniversity-b--sptest.sandbox.my.salesforce.com
BULoginName=
BuPassword=
MY_PERSONAL_USERNAME=
MY_PERSONAL_PASSWORD=
MY_BU_PORTAL=
BUTestUser=TEST2201
BUTestPassword=SIST3stingR0cks!
BUPasscode=304617535


SPDevIntURL : https://bostonuniversity-b--spdevint.sandbox.my.salesforce-setup.com/lightning/
SPTestURL
UEPTestURL:  https://bostonuniversity-b--ueptest.sandbox.my.salesforce-setup.com/lightning/

Myorg: https://orgfarm-15f6472b64-dev-ed.develop.lightning.force.com/lightning/o/Account

