# Dependencies
node_modules/

# Playwright outputs
test-results/
reports/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
reports/state.json
# Environment files
.env
tests/.env
state.json
c:\Users\pgunda\PlayWright Automation\Projects\state.json
# open .gitignore in VS Code and add these 2 lines
server.key
server.crt
